.nav-uv {
position: absolute;
bottom: 0px;
left: 20px;
width: 350px;
}

.navbar {
    background-color: #003b46 !important;
}

html {
    background-color: #C4DFE6;
}

body {
    background-color: #C4DFE6;
}

.navbar-brand {
    color: #C4DFE6 !important;
    background-color: #003b46;
    padding-right: 10pt;
    padding-left: 10pt;
}

.nav-link {
    color: #C4DFE6 !important;
}

.active {
    color: #66A5AD !important;
}

h1 {
    font-size: 40pt;
    text-align: center;
    color: #003b46;
    background-color: #66a5ad;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20pt;
    text-align: center;
    color: #003b46;
    
}

h3 {
    font-size: 30pt;
    text-align: center;
    color: #003b46;
    background-color: #66a5ad;
}

.under {
    font-size: 30pt;
    text-align: center;
    color: #003b46;
    background-color: #66a5ad;
    margin-top: 15px !important;
}

h4 {
    color: #003b46;
}

p {
    color: #003b46;
}

li {
    color: #003b46;
}

a {
    color: chocolate;
}

.infoL {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.card {
    background-color: #C4DFE6;
    border-color: chocolate;
    border-width: 2px;
}

.card-text {
    margin-left: 10px !important;
    margin-right: 10px important !important;
}

li {
    color: #003b46;
}

.card-header {
    font-size: 30pt;
    text-align: center;
    color: #003b46;
    background-color: #66a5ad;
}

svg{
    background-color: '#C4DFE6' !important;
    background: '#C4DFE6' !important;
}
aside {
    color: #003b46;
    font-size: 10px;
    font-style: italic;
}

.placeholder {
    color: #003b46 !important;
    opacity: 0.5;
}

button {
    background-color: #66a5ad;
    margin-top: 20px;
    color: #003b46;
    font-weight: bold !important;
}

.btn {
    background-color: chocolate !important;
    color: #003b46;
}

table {
    border-collapse: collapse;
    width: fit-content;
    color: #003b46;
    border-color: #003b46;
}
td {
    text-align: left;
}
/* tr:nth-child(even) {background-color: lightcyan;} */
tr:hover {background-color: chocolate;}

.footer {
    color: #003b46;
    margin: 10px 0px 0px 10px;
    position: sticky;
    bottom: 0px;
    background-color: #C4DFE6;
}

  