<!DOCTYPE html>
<html lang="en-us">
  <head>
        <!-- required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Plot.ly -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <!-- Title (shown in browser tab)-->
        <title>Addiction & Mental Health</title>
        <!-- Insert icon with title in browser tab -->
        <link rel="shortcut icon" type="image/x-icon" href="../static\images\drug-addiction.png"> 
  </head>

  <body>
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
      <div class='container-fluid'>
        <a class="navbar-brand">Addiction & Mental Health</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Introduction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="survey">Survey</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="help">Where do I get help?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="analytics">Analytics</a>
          </li>
            <li class="nav-item active">
                <a class="nav-link" href="data">Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <!-- Header -->
      <div class='row'>
        <div class='col-lg-12'> 
            <h1>Data</h1>
        </div>
      </div>
      <!-- general info -->
      <div class='row'>
        <div class='col-12'>
            <h3>Origin of the raw data </h3>
            <p>The original data for this survey was sourced from the archive of Substance Abuse & Mental Health Data Archive from the U.S. Department of Health & Human Services.<br> 
                The National Survey on Drug Use and Health (NSDUH) series, is a major source of statistical information on the use of illicit drugs, alcohol, and tobacco and on mental health issues among members of the U.S. civilian, non-institutional population aged 12 or older. The survey tracks trends in specific substance use and mental illness measures and assesses the consequences of these conditions by examining mental and/or substance use disorders and treatment for these disorders.<br>
                The survey and all the information about this survey including all the historical data and additional details are available from their website <a href=https://www.datafiles.samhsa.gov/study-series/national-survey-drug-use-and-health-nsduh-nid13517 target='_blank'>HERE</a>.
            </p>
        </div>
      </div>
      <!-- pie plots -->
      <div class='row'>
        <div class='col-lg-12'>
          <h3 class='text-center'>Pie chart of each category used for the predications</h3>
          <p>These charts show all categories with the options that were given to the subjects that were part of the survey. Each pie-piece shows the percentage of all people that chose that answer. As an example, under Marital status is shows 70.4% of the people were married at the time of the survey.</p>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-4'>
          <div class='card'>
            <div id='pie_age'></div>
          </div>
        </div>
        <div class='col-lg-4'>
          <div class='card'>
            <div id='pie_mar'></div>
          </div>
        </div>
        <div class='col-lg-4'>
          <div class='card'>
            <div id='pie_health'></div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-4'>
          <div class='card under'>
            <div id='pie_move'></div>
          </div>
        </div>
        <div class='col-lg-4'>
          <div class='card under'>
            <div id='pie_attr'></div>
          </div>
        </div>
        <div class='col-lg-4'>
          <div class='card under'>
            <div id='pie_ident'></div>
          </div>
        </div>
      </div>
      <!-- 2 wider pie plots -->
      <div class='row'>
        <div class='col-lg-6'>
          <div class='card under'>
            <div id='pie_edu'></div>
          </div>
        </div>
        <div class='col-lg-6'>
          <div class='card under'>
            <div id='pie_work'></div>
          </div>
        </div>
      </div>
      <!-- row with high plots -->
      <div class='row'>
        <div class='col-lg-4'>
          <div class='card under'>
            <div id='pie_empl'></div>
          </div>
          <div class='card under'>
            <div id='pie_stat'></div>
          </div>
          <div class='card under'>
            <div id='pie_income'></div>
          </div>
          <div class='card under'>
            <div id='pie_smoke'></div>
          </div>
          <div class='card under'>
            <div id='pie_diff'></div>
          </div>
        </div>
        <div class='col-lg-4'>
          <div class='card under'>
            <div id='pie_smokeage'></div>
          </div>
        </div>
        <div class='col-lg-4'>
          <div class='card under'>
            <div id='pie_alc'></div>
          </div>
        </div>
      </div>
      <!-- table - raw data -->
      <div class='row'>
        <div class='col-lg-12'>
            <h3 class='under text-center'>Table showing raw data (50 rows)</h3>
              <p>The table below has the first 50 rows of the table that was used for the predictions on this website. The total number of rows of the actual dataset is 120,543.<br>
                  Please note that all numbers represent a category. They are not the actual answer.
              </p>
          </div>        
      </div>
      <div class='row'>
        <div class='col-lg-12'>
          <table border="1" class="dataframe">
            <thead>
              <tr style="text-align: right;">
                <th>AGE2</th>
                <th>IRMARIT</th>
                <th>HEALTH</th>
                <th>MOVSINPYR2</th>
                <th>SEXATRACT</th>
                <th>SEXIDENT</th>
                <th>DIFFTHINK</th>
                <th>IREDUHIGHST2</th>
                <th>WRKSTATWK2</th>
                <th>IRWRKSTAT</th>
                <th>WRKNUMJOB2</th>
                <th>IRPINC3</th>
                <th>CIG100LF</th>
                <th>ALCUS30D</th>
                <th>CIGTRY</th>
                <th>CG30EST</th>
                <th>ALCDAYS</th>
                <th>COCEVER</th>
                <th>CRKEVER</th>
                <th>MJEVER</th>
                <th>HEREVER</th>
                <th>METHAMEVR</th>
                <th>PNRANYLIF</th>
                <th>TRQANYLIF</th>
                <th>STMANYLIF</th>
                <th>SEDANYLIF</th>
                <th>halluciogens</th>
                <th>inhalants</th>
                <th>not_mental</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>15</td>
                <td>1</td>
                <td>2.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>11</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>7</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>13.0</td>
                <td>93.0</td>
                <td>20.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>1</td>
                <td>1</td>
              </tr>
              <tr>
                <td>17</td>
                <td>1</td>
                <td>2.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>11</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>7</td>
                <td>91.0</td>
                <td>993.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>93.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>14</td>
                <td>4</td>
                <td>2.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>11</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>7</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>22.0</td>
                <td>93.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>8</td>
                <td>4</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>9</td>
                <td>4.0</td>
                <td>3</td>
                <td>2.0</td>
                <td>1</td>
                <td>91.0</td>
                <td>3.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>6.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>14</td>
                <td>1</td>
                <td>2.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>11</td>
                <td>1.0</td>
                <td>1</td>
                <td>2.0</td>
                <td>3</td>
                <td>91.0</td>
                <td>991.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>91.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15</td>
                <td>1</td>
                <td>3.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>11</td>
                <td>9.0</td>
                <td>4</td>
                <td>1.0</td>
                <td>3</td>
                <td>91.0</td>
                <td>991.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>91.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
              </tr>
              <tr>
                <td>15</td>
                <td>1</td>
                <td>2.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>11</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>6</td>
                <td>91.0</td>
                <td>993.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>93.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>7</td>
                <td>4</td>
                <td>3.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>9</td>
                <td>7.0</td>
                <td>4</td>
                <td>1.0</td>
                <td>1</td>
                <td>91.0</td>
                <td>991.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>91.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
              </tr>
              <tr>
                <td>14</td>
                <td>1</td>
                <td>3.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>8</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>6</td>
                <td>1.0</td>
                <td>993.0</td>
                <td>15.0</td>
                <td>93.0</td>
                <td>93.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15</td>
                <td>1</td>
                <td>3.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>11</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>7</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>20.0</td>
                <td>93.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>16</td>
                <td>3</td>
                <td>2.0</td>
                <td>0.0</td>
                <td>4.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>11</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>4</td>
                <td>1.0</td>
                <td>993.0</td>
                <td>16.0</td>
                <td>93.0</td>
                <td>93.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1</td>
                <td>1</td>
                <td>0</td>
              </tr>
              <tr>
                <td>16</td>
                <td>4</td>
                <td>3.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>9</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>4</td>
                <td>91.0</td>
                <td>991.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>91.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>14</td>
                <td>1</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>11</td>
                <td>1.0</td>
                <td>1</td>
                <td>2.0</td>
                <td>6</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>14.0</td>
                <td>93.0</td>
                <td>3.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>8</td>
                <td>4</td>
                <td>2.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>9</td>
                <td>7.0</td>
                <td>4</td>
                <td>1.0</td>
                <td>1</td>
                <td>91.0</td>
                <td>991.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>91.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>16</td>
                <td>1</td>
                <td>2.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>11</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>6</td>
                <td>2.0</td>
                <td>6.0</td>
                <td>13.0</td>
                <td>93.0</td>
                <td>4.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>13</td>
                <td>4</td>
                <td>1.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>8</td>
                <td>6.0</td>
                <td>4</td>
                <td>2.0</td>
                <td>1</td>
                <td>91.0</td>
                <td>991.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>91.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15</td>
                <td>1</td>
                <td>1.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>11</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>7</td>
                <td>91.0</td>
                <td>2.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>6.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>13</td>
                <td>4</td>
                <td>2.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>11</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>4</td>
                <td>2.0</td>
                <td>3.0</td>
                <td>27.0</td>
                <td>93.0</td>
                <td>12.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>13</td>
                <td>3</td>
                <td>3.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>9</td>
                <td>1.0</td>
                <td>1</td>
                <td>2.0</td>
                <td>4</td>
                <td>91.0</td>
                <td>2.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>11</td>
                <td>1</td>
                <td>3.0</td>
                <td>2.0</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>1.0</td>
                <td>11</td>
                <td>1.0</td>
                <td>1</td>
                <td>3.0</td>
                <td>2</td>
                <td>91.0</td>
                <td>3.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15</td>
                <td>4</td>
                <td>1.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>8</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>5</td>
                <td>2.0</td>
                <td>3.0</td>
                <td>18.0</td>
                <td>93.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>14</td>
                <td>1</td>
                <td>3.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>8</td>
                <td>2.0</td>
                <td>2</td>
                <td>1.0</td>
                <td>1</td>
                <td>91.0</td>
                <td>3.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>17</td>
                <td>1</td>
                <td>2.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>8</td>
                <td>8.0</td>
                <td>4</td>
                <td>1.0</td>
                <td>3</td>
                <td>91.0</td>
                <td>991.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>91.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15</td>
                <td>1</td>
                <td>2.0</td>
                <td>0.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>11</td>
                <td>2.0</td>
                <td>2</td>
                <td>1.0</td>
                <td>7</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>20.0</td>
                <td>93.0</td>
                <td>4.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>10</td>
                <td>4</td>
                <td>3.0</td>
                <td>3.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>8</td>
                <td>9.0</td>
                <td>4</td>
                <td>3.0</td>
                <td>4</td>
                <td>91.0</td>
                <td>7.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>4.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15</td>
                <td>1</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>9</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>7</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>16.0</td>
                <td>93.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>13</td>
                <td>1</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>5.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>11</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>1</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>16.0</td>
                <td>93.0</td>
                <td>16.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>13</td>
                <td>4</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>10</td>
                <td>1.0</td>
                <td>1</td>
                <td>3.0</td>
                <td>6</td>
                <td>91.0</td>
                <td>991.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>91.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15</td>
                <td>1</td>
                <td>2.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>11</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>4</td>
                <td>91.0</td>
                <td>1.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15</td>
                <td>4</td>
                <td>3.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>11</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>1</td>
                <td>2.0</td>
                <td>5.0</td>
                <td>13.0</td>
                <td>93.0</td>
                <td>7.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>1</td>
                <td>0</td>
                <td>1</td>
              </tr>
              <tr>
                <td>9</td>
                <td>4</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>9</td>
                <td>7.0</td>
                <td>4</td>
                <td>2.0</td>
                <td>1</td>
                <td>91.0</td>
                <td>3.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>8.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15</td>
                <td>1</td>
                <td>3.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>11</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>7</td>
                <td>2.0</td>
                <td>4.0</td>
                <td>15.0</td>
                <td>93.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
              </tr>
              <tr>
                <td>9</td>
                <td>4</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>10</td>
                <td>1.0</td>
                <td>1</td>
                <td>2.0</td>
                <td>2</td>
                <td>91.0</td>
                <td>2.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15</td>
                <td>3</td>
                <td>3.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>11</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>3</td>
                <td>91.0</td>
                <td>1.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>6.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>14</td>
                <td>1</td>
                <td>2.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>8</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>6</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>16.0</td>
                <td>93.0</td>
                <td>20.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15</td>
                <td>4</td>
                <td>4.0</td>
                <td>0.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>11</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>4</td>
                <td>2.0</td>
                <td>8.0</td>
                <td>20.0</td>
                <td>93.0</td>
                <td>30.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>14</td>
                <td>4</td>
                <td>3.0</td>
                <td>0.0</td>
                <td>2.0</td>
                <td>3.0</td>
                <td>1.0</td>
                <td>11</td>
                <td>2.0</td>
                <td>2</td>
                <td>1.0</td>
                <td>2</td>
                <td>2.0</td>
                <td>993.0</td>
                <td>23.0</td>
                <td>93.0</td>
                <td>93.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>1</td>
              </tr>
              <tr>
                <td>15</td>
                <td>1</td>
                <td>2.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>10</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>4</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>16.0</td>
                <td>93.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>16</td>
                <td>3</td>
                <td>1.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>8</td>
                <td>3.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>6</td>
                <td>91.0</td>
                <td>991.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>91.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15</td>
                <td>1</td>
                <td>2.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>10</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>7</td>
                <td>91.0</td>
                <td>1.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>8</td>
                <td>4</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>9</td>
                <td>4.0</td>
                <td>3</td>
                <td>2.0</td>
                <td>2</td>
                <td>2.0</td>
                <td>30.0</td>
                <td>8.0</td>
                <td>93.0</td>
                <td>4.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15</td>
                <td>4</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>9</td>
                <td>1.0</td>
                <td>1</td>
                <td>2.0</td>
                <td>2</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>20.0</td>
                <td>93.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>17</td>
                <td>1</td>
                <td>3.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>11</td>
                <td>2.0</td>
                <td>2</td>
                <td>1.0</td>
                <td>6</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>19.0</td>
                <td>93.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>11</td>
                <td>4</td>
                <td>2.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>11</td>
                <td>1.0</td>
                <td>1</td>
                <td>2.0</td>
                <td>5</td>
                <td>91.0</td>
                <td>2.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>5.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>11</td>
                <td>4</td>
                <td>1.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>8</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>3</td>
                <td>91.0</td>
                <td>5.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15</td>
                <td>3</td>
                <td>3.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>8</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>993.0</td>
                <td>12.0</td>
                <td>93.0</td>
                <td>93.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15</td>
                <td>4</td>
                <td>1.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>9</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>3</td>
                <td>1.0</td>
                <td>993.0</td>
                <td>12.0</td>
                <td>93.0</td>
                <td>93.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>0</td>
                <td>1</td>
                <td>0</td>
              </tr>
              <tr>
                <td>15</td>
                <td>1</td>
                <td>2.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>9</td>
                <td>1.0</td>
                <td>1</td>
                <td>1.0</td>
                <td>3</td>
                <td>1.0</td>
                <td>993.0</td>
                <td>11.0</td>
                <td>93.0</td>
                <td>93.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>14</td>
                <td>1</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>7</td>
                <td>1.0</td>
                <td>1</td>
                <td>4.0</td>
                <td>3</td>
                <td>91.0</td>
                <td>991.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>91.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td>9</td>
                <td>4</td>
                <td>1.0</td>
                <td>0.0</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>8</td>
                <td>2.0</td>
                <td>2</td>
                <td>1.0</td>
                <td>1</td>
                <td>91.0</td>
                <td>993.0</td>
                <td>991.0</td>
                <td>91.0</td>
                <td>93.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>2.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>    
        </div>
      </div>
    </div>
    <!-- footer -->
    <footer class='footer'>
        <p class='bottom'>Addiction & Mental Health - Data</p>
    </footer> 

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v5.js"></script> 
<!-- Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Our JS -->
<script type="text/javascript" src="../static/js/plots_data.js"></script>

</body>
</html>